html,body{
  height:100% !important;
}
.button{ 
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    text-align: center;
    color: black !important;
    padding: auto ;
    width:auto ;
    letter-spacing: 0.1em;

    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
  }


.stay{
    color: #2F4B6E !important; 
    letter-spacing: 0.1em;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;

    text-align: center;
    padding: auto;
    width: auto;
}


.button:hover {
  background-color: #C4C4C4 ; 
  border-radius: 12px;
}

.title{
    justify-content: center;
    align-items: center;
}
#greeting{
    font-size:30px;
}
#ahmed{
  height:50%;
  background-color:#2F4B6E;
}
/* .kyontainer{
  height: 50%;
  background-color:#2F4B6E;
} */