.kotak {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 40px;
    background: #2F4B6E;
    margin-left: 25%;
    margin-right: 25%;
}

input[type="text"] {
    width: 20vw;
}

.btn {
    font-size: 23px;
    margin: 20px;
}