{% extends 'signup.html' %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-success">Save person</button>
  </form>
{% endblock %}