<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet" type="text/css">
        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'signuppage/static/css/signup.css' %}">

    <link rel="icon" href="/static/img/SpaceNow.jpg">
    <title>Signup</title>
</head>
<body>
        <header>
                <nav  class="navbar navbar-expand-lg navbar-light bg-transparant" role=navigation>
                    <div class=mr-auto>
                            <ul class="nav navbar-nav ">
                                <li class=" hover nav-item ">
                                        <a href = '/groupproject/homepage'class="button nav-link" href="#">SpaceNow</a>
                                </li>
                            </ul>
                    </div>
                    <div class=ml-auto>
                        <ul class="nav navbar-nav ">
                            <li class=" nav-item active">
                                <a class="stay nav-link disabled" href="#">ACCOUNT</a>
                            </li>
                            <li class=" hover nav-item">
                                <a href = "{%url 'addspaces' %}" class="button nav-link" href="#">SPACES</a>
                            </li>
                        
                            <li class="hover nav-item">
                                <a href = "{%url 'contact' %}" class="button nav-link" href="#">CONTACT US</a>
                            </li>
                        </ul>
                    </div>
                </nav>
        </header>

        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">  
    <div class = "title">   
        <div class = "row justify-content-center align-items-center  mt-5 text-center">
            <div class = "col-md-12 justify-content-center align-items-center" >
                <h2 id = "greeting">You are one step away from renting the space you need.</h2>
            </div>
        </div>
    </div>
    <div class = "container">
        <div class = "row board-container justify-content-center align-items-center">
            <div class = "col-md-6" style = "background-color : #2F4B6E; border-radius: 5%;">
                <form  method = 'POST' class = "row board-container justify-content-center align-items-center">
                    {% csrf_token %}
                        <p class = "fontingform" style = "color:white"> Name             : {{form.name}} <br>
                            Age           : {{form.age}} <br>
                            Phonenumber   : {{form.phonenumber}} <br>
                            Email   : {{form.email}} <br>
                            Password  : {{form.password}} <br></p> 
                    <button type = 'submit'> Submit </button>
                </form>
            </div>
            
        </div>
    </div>
</body>
</html>