<!DOCTYPE html>
{% load static %}
<head>
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet" type="text/css">
            
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'signuppage/static/css/signup.css' %}">
    
        <link rel="icon" href="/static/img/SpaceNow.jpg">
        <title> verified </title>
</head>
<body>
    <div class = 'row'>
        <div class = "md-col-6 ml-3">
                {% csrf_token %}
            <h1> Thanks man.</h1>
            <h2>go ahead and log in now.</h2>
            <a href = "{%url 'login' %}" href ="#"> Log in</a>
        </div>
    </div>
</body>