{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="icon" href="/static/img/spacenow.jpg">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login | SpaceNow</title>
</head>

<body class="login">
    <header>


        <nav class="navbar navbar-expand-lg navbar-primary bg-transparent">
            <div class="d-flex flex-grow-1">
                <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
                <a class="navbar-brand d-none d-lg-inline-block" href="/">
                    <b style="font-family: Rakkas; font-size: 30px; border-radius: 182px;"> SpaceNow </b>
                </a>
                <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="/">
                    <img src="{% static 'img/spacenow.jpg'%}" width="30px" alt="logo">
                </a>
                <div class="w-100 text-right">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </div>
            </div>
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item">
                        <a href="#" class="nav-link m-2 menu-item nav-active"><b style="font-family: Reem Kufi; font-size: 20px;"> Account </b></a>
                    </li>
                    <li class="nav-item">
                        <a href="/lihat_spaces/ " class="nav-link m-2 menu-item"><b style="font-family: Reem Kufi; font-size: 20px;"> Spaces </b></a>
                    </li>
                    <li class="nav-item">
                        <a href="/Contact/" class="nav-link m-2 menu-item"><b style="font-family: Reem Kufi; font-size: 20px;">Contact Us </b></a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    {% block title %}
    <center>
        <h1 style="color: blue; margin-top : 50px;"> {{page_title}} </h1> <br>
    </center>
    {% endblock title %}

    <div>
        {% block contents %}

        <form method='POST'>
            {% csrf_token %}
            <div class="kotak">
                {% for form in logins %}
                <center>
                    <div class "form-group col-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">

                            <p style="font-size: 30px; margin: 20px; margin-bottom: 0px; color: whitesmoke;">{{form.label}} </p>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            {{form}}
                        </div>
                    </div>

                </center>
                {% endfor %} <br>
                <center> <a href="lihat_spaces/"><button type="Submit" class="btn btn-secondary btn-lg"> Log In </button></a> </center>
            </div>
        </form>

        {% endblock contents %}

        <center>
            <p style="font-size: 24px;"> Haven’t got any account yet? </p> <br>
            <a href="/Signup/" style="font-size: 24px;;"> Click Here </a>
        </center>
    </div>
    {% include 'tools/scripts.html' %}
</body>

</html>