<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        <title> SpaceNow</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel ="stylesheet" href = "{% static 'css/contact.css' %}">
        <link rel="icon" href="/static/img/SpaceNow.jpg">
    </head>
    <body>
        {% include 'tools/navig.html' %}
        <center><h1 style = "padding-top:5%; font-size:30px; font-family: Muli;">We will reach out to you soon !</h1></center>
        <div class = "row justify-content-center">
            <form method = "POST">
                <div class = "textBox" style ="margin-left:-25%; padding:10%; width: 150%;">
                {% csrf_token %}
                <table align = "center">
                  {{messageForm.as_table}}
                </table>
                </div> 
                <center><button style = "border-radius : 25%; font-family:muli; font-size:2vw;" type = "submit" value="Add" ><p class = "large" >Submit</p></button></center>
              </form>
        </div>
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

<!-- ini penutup -->
    </body>
</html>