<!DOCTYPE html>
{% load static %}
<html lang ="en">
    <head>
 
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel ="stylesheet" href = "{% static 'css/spaces.css' %}">
    </head>

    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

     <!--NAVBAR-->
     <header>
        <nav  class="navbar navbar-expand-lg navbar-light bg-transparant" role=navigation>
            <div class=mr-auto>
                    <ul class="nav navbar-nav ">
                        <li class=" hover nav-item ">
                                <a class="button nav-link" href="/homepage/">SpaceNow</a>
                        </li>
                    </ul>
            </div>
            <div class=ml-auto>
                <ul class="nav navbar-nav ">
                    <li class=" hover nav-item">
                        <a class="button nav-link" href="login/">ACCOUNT</a>
                    </li>
                    <li class="hover nav-item">
                            <a class="stay nav-link disabled" href="#">ADD SPACES</a>
                    </li>
                    <li class=" nav-item active">
                        <a class="button nav-link" href="/lihat_spaces/">SPACES</a>
                    </li>
                
                    <li class="hover nav-item">
                        <a class="button nav-link" href="/Contact/">CONTACT US</a>
                    </li>
                </ul>
            </div>
        </nav>
</header>

    <body>
        {% block content %}
        <div class = text-center>
                <p class="fonttitle"> ADD SPACES</p>
        </div>
        <div class= "container-fluid" >
            <div id='kotakform'>
                <form method = "POST" action="/spaces_tambah/">
                    {% csrf_token %}
                    <table>
                       <p class = fontingform> Name    : {{form.nama}} <br> </p>
                        <p class= fontingform> City    : {{form.kota}} <br> </p>
                        <p class= fontingform> Type    : {{form.tipe}} <br> </p>
                        <p class= fontingform> Price   : {{form.harga}} <br></p> 
                    </table>
                    <input type="submit" value="Add Space"> 
                </form>
            </div>
        </div>
        {% endblock content %}
    </body>
</html>