<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        <title>Pricing | SpaceNow</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel ="stylesheet" href = "{% static 'css/spaces.css' %}">
        <link rel="icon" href="/static/img/spacenow.jpg">
        <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

    <!--NAVBAR-->
    <header>
            <nav  class="navbar navbar-expand-lg navbar-light bg-transparant" role=navigation>
                <div class=mr-auto>
                        <ul class="nav navbar-nav ">
                            <li class=" hover nav-item ">
                                    <a class="button nav-link" href="/homepage/">SpaceNow</a>
                            </li>
                        </ul>
                </div>
                <div class=ml-auto>
                    <ul class="nav navbar-nav ">
                        <li class=" hover nav-item">
                            <a class="button nav-link" href="/login/">ACCOUNT</a>
                        </li>
                        <li class="hover nav-item">
                            <a class="button nav-link" href="/addspaces/">ADD SPACES</a>
                        </li>
                        <li class=" nav-item active">
                            <a class="stay nav-link disabled" href="#">SPACES</a>
                        </li>
                    
                        <li class="hover nav-item">
                            <a class="button nav-link" href="/Contact/">CONTACT US</a>
                        </li>
                        
                    </ul>
                </div>
            </nav>
    </header>

            <div class= "container-fluid" >
                <div>
                    <table>
                        <form method = "POST">
                            {% csrf_token %}
                            <p class = "text-center fonttitle"> How long will you rent the space for?<br></p>
                            <p class="text-center fonttitle">{{form.jam}} hours <br> </p>
                        </form>
                        <p class = "text-center fonttitle"> This is the rent fee for each hour of your space<br></p>
                        <p class ="text-center fonttitle"> IDR {{rentee.harga}} / hour <br></p>
                    </table>
              </div>    
            </div>
        </body>
</html>
