<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        <title>Spaces | SpaceNow</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel ="stylesheet" href = "{% static 'css/spaces.css' %}">
        <link rel="icon" href="/static/img/spacenow.jpg">

        <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

    <!--NAVBAR-->
        <header>
                <nav  class="navbar navbar-expand-lg navbar-light bg-transparant" role=navigation>
                    <div class=mr-auto>
                            <ul class="nav navbar-nav ">
                                <li class=" hover nav-item ">
                                        <a class="button nav-link" href="#">SpaceNow</a>
                                </li>
                            </ul>
                    </div>
                    <div class=ml-auto>
                        <ul class="nav navbar-nav ">
                            <li class=" hover nav-item">
                                <a class="button nav-link" href="#">ACCOUNT</a>
                            </li>
                            <li class=" nav-item active">
                                <a class="stay nav-link disabled" href="#">SPACES</a>
                            </li>
                        
                            <li class="hover nav-item">
                                <a class="button nav-link" href="#">CONTACT US</a>
                            </li>
                        </ul>
                    </div>
                </nav>
        </header>

        <!--FORM-->
        


        <!--SAPCES FOR RENT CONTENT-->
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <div class="album py-5 bg-transparant">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="{% static 'img/meeting.jpg'%}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text text-center" id= fontlokasi>
                                Menara Mandiri, Sudirman 
                            </p>
                            <p class="card-text text-center">
                                Max. 10 people / room <br>
                                IDR 100,000 / hour
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light">Rent Now</button>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="{% static 'img/cowoking.jpg'%}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text text-center" id= fontlokasi>
                                Jl. Ir. H. Juanda, Dago
                            </p>
                            <p class="card-text text-center">
                                Max. 4 people / table <br>
                                IDR 50,000 / hour
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light">Rent Now</button>
                            </div>
                            
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="{% static 'img/event.jpg'%}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text text-center" id= fontlokasi>
                                Denpasar, Bali
                            </p>
                            <p class="card-text text-center">
                                Max. 400 people  <br>
                                IDR 4,000,000 / hour
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light">Rent Now</button>
                            </div>
                            
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="{% static 'img/kinosaurus.jpg'%}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text text-center" id= fontlokasi>
                                Aksara, Kemang
                            </p>
                            <p class="card-text text-center">
                                Max. 30 people / table <br>
                                IDR 500,000 / hour
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light">Rent Now</button>
                            </div>
                            
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="{% static 'img/ruang1.jpg'%}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text text-center" id= fontlokasi>
                                SCBD, Jakarta
                            </p>
                            <p class="card-text text-center">
                                Max. 6 people / table <br>
                                IDR 100,000 / hour
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light">Rent Now</button>
                            </div>
                            
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="{% static 'img/yogaa.jpg'%}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text text-center" id= fontlokasi>
                                LiloStudio, Depok
                            </p>
                            <p class="card-text text-center">
                                Max. 30 people / table <br>
                                IDR 500,000 / hour
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light">Rent Now</button>
                            </div>
                            
                            </div>
                        </div>
                        </div>
                    </div>
             </div>
        </div>
<!-- ini penutup -->
    </body>
</html>
