<!DOCTYPE html>
{% load static %}


<html lang = "en">
    <head>
        <title>Spaces | SpaceNow</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel ="stylesheet" href = "{% static 'css/spaces.css' %}">
        <link rel="icon" href="/static/img/spacenow.jpg">

        <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">


    <!--NAVBAR-->
        <header>
                <nav  class="navbar navbar-expand-lg navbar-light bg-transparant" role=navigation>
                    <div class=mr-auto>
                            <ul class="nav navbar-nav ">
                                <li class=" hover nav-item ">
                                        <a class="button nav-link" href="/homepage/">SpaceNow</a>
                                </li>
                            </ul>
                    </div>
                    <div class=ml-auto>
                        <ul class="nav navbar-nav ">
                            <li class=" hover nav-item">
                                <a class="button nav-link" href="/login/">ACCOUNT</a>
                            </li>
                            <li class="hover nav-item">
                                <a class="button nav-link" href="/addspaces/">ADD SPACES</a>
                            </li>
                            <li class=" nav-item active">
                                <a class="stay nav-link disabled" href="#">SPACES</a>
                            </li>
                        
                            <li class="hover nav-item">
                                <a class="button nav-link" href="/Contact/">CONTACT US</a>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
        </header>

       

        <!--HASIL FORM-->
        {% block content %}
        <div class = text-center>
            <p class="fonttitle"> FIND YOUR SPACE</p>
        </div>

         <!--SEARCH BAR-->
         <div class = "my-5 container">
                <form method="POST" action = "/lihat_spaces/">
                    {% csrf_token %}
                    <div class = 'col-lg-4 col-md-4 col-sm-4 col-xs-4'>
                        <input type="text" name="srh" class="form-control" placeholder= "Enter space type or city">
                    </div>
                    <label class = "col-lg-2">
                        <button type="submit" class="btn btn-sm btn-light">Search</button>
                    </label>
                </form><br><br>
            </div>
    
            <!--HASIL SEARCH BAR-->
            <div>
                {% if sr %}
                    {% for e in sr %}
                        {{e.nama}} <br>
                        {{e.kota}} <br>
                        {{e.tipe}} <br>
                        {{e.harga}} <br>
                    {% endfor %}
                {% endif %}
            </div>

        <div class='container-fluid row'>
            {% for e in previous %}
                <div class='col-lg-3 col-md-3 col-sm-12 col-xs-12' id='kotakspaces'>
                    <!-- masukin if foto disini-->
                    
                    
                    <h3 class= "text-center fontjudul">{{e.nama}}</h3>
                    <h5 class = "text-center fontdeskripsi">{{e.kota}}</h5>
                    <h5 class = "text-center fontdeskripsi">Space Type : {{e.tipe}}</h5>
                    <h5 class = "text-center fontdeskripsi">IDR {{e.harga}} / hour</h5>

                    <a href = "/rent/{{e.id}}"> Rent Now</a>
                </div>
            {% endfor %}
        </div>
        {% endblock content %}

</body>
</html>