{% load static %}
 <!--NAVBAR-->

 <style>
        /*NAVBAR TOP */
    .button{ 
        font-family: Muli;
        font-style: normal;
        font-weight: bold;
        font-size: 1vw;
        text-align: center;
        color: black !important;
        padding: auto ;
        width:auto ;
        letter-spacing: 0.1em;
    

        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
    }


    .stay{
        color: #2F4B6E !important; 
        letter-spacing: 0.1em;
        font-family: Muli ;
        font-style: normal;
        font-weight: bold ;
        font-size: 1vw;

        text-align: center;
        padding: auto;
        width: auto;
    }


    .button:hover {
    background-color: #C4C4C4 ; 
    border-radius: 12px;
    }

        
    .fontingc2:hover{
        color:  #C4C4C4;
    }

    </style>

<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

 <header>
        <nav  class="navbar navbar-expand-lg navbar-light bg-transparant" role=navigation>
            <div class=mr-auto>
                    <ul class="nav navbar-nav ">
                        <li class=" hover nav-item ">
                                <a class="stay nav-link disabled" href="#">SpaceNow</a>
                        </li>
                    </ul>
            </div>
            <div class=ml-auto>
                <ul class="nav navbar-nav ">
                    <li class=" hover nav-item">
                        <a class="button nav-link" href="{% url 'login'%}">ACCOUNT</a>
                    </li>
                    <li class="hover nav-item">
                            <a class="button nav-link" href="{% url 'addspaces'%}">ADD SPACES</a>
                    </li>
                    <li class=" nav-item active">
                        <a class="button nav-link" href="{% url 'lihat_spaces'%}">SPACES</a>
                    </li>
                
                    <li class="hover nav-item">
                        <a class="button nav-link" href="{% url 'contact'%}"> CONTACT US</a>
                    </li>
                </ul>
            </div>
        </nav>
</header>

