h1 {
    color: rgb(47, 190, 183);
}
legend{
    all : unset;
}
body,html{
    height : 100%;
  
}
#bg{
    background-image:url('static/img/backgorund.png');
    background-size:cover;
    background-position: center center;
    height: 100%;
}