html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color :white !important;
}

* {
  box-sizing: border-box;
}

/*NAVBAR TOP */

.button{ 
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    text-align: center;
    color: black !important;
    padding: auto ;
    width:auto ;
    letter-spacing: 0.1em;
 

    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
 }


.stay{
    color: #2F4B6E !important; 
    letter-spacing: 0.1em;
    font-family: Muli ;
    font-style: normal;
    font-weight: bold ;
    font-size: 1vw;

    text-align: center;
    padding: auto;
    width: auto;
}


.button:hover {
  background-color: #C4C4C4 ; 
  border-radius: 12px;
}

    
.fontingc2:hover{
    color:  #C4C4C4;
}

/*CARD */

.card-text {
font-family: Muli ;
font-style: normal ;
font-weight: normal ;
color: #F2F2F2 ;
}
.card-body{
  background-color:#2F4B6E !important;

}
.fonttitle{
  font-family: Muli ;
  font-size : 3vw; 
  font-weight: 600 ;
  color: #2F4B6E;
  }
  
/*SPACES2 */
.fontdeskripsi{
  font-family: Muli ;
  font-weight: normal ;
  color: #FFFFFF!important;
  }

.fontjudul{
    font-family: Muli ;
    font-style: italic;
    color: #F2F2F2F2!important;
  }
.fontingform{
  font-family: Muli ;
  font-size: 1vw; 
  font-style: normal;
  color: #FFFFFFFF!important;
}


  #kotakspaces{
    height: auto;
    width: auto;
    margin: 1%;
    padding: 2%; 
    background: #2F4B6E!important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

    border-radius: 1rem;
}
#kotak{
  height: 30rem;
  width: 30rem;
  background: #2F4B6E;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#kotakform{
  height: 25rem;
  width: 20rem;
  background: #2F4B6E;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  margin-left:auto;
  margin-right:auto;

}
